VBox {
    -fx-background-color: #F7F7F7;
}

.button {
    -fx-background-insets: 0;
    -fx-background-color: #F7F7F7;
    -fx-border-radius: 5px;
    -fx-border-width: 0;
}

.button:hover {
    -fx-background-color: #CCCCCC;
}

.button:pressed {
    -fx-background-color: #AAAAAA;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #EEEEEE, 5, 0, -1, -1);
    -fx-cursor: hand;
}

.text-field:hover {
    -fx-border-color: #CCCCCC;
}

.text-field:focused {
    -fx-border-color: #01A3D9;
}